/* 最常用的綠500 */
$green-500: #90957a;
/* 最常用的紅500 */
$red-500: #963827;
$red-200: #c8988f;

/* 第二常用其他綠 */
$green-200: #c5c8ba;
$green-300: #b4b7a5;
$green-400: #a2a68f;
$green-600: #797d66;
$green-700: #626553;
$green-800: #4b4d3f;
/* 灰色不確定大家用的多不多 */
$gray-100: #ededed;
$gray-200: #bfbfbf;
$gray-300: #8a8a8a;
/* 常用字體 */
$primary-font: "Noto Sans";
$secondary-font: "Libre Bodoni";
$font-size: 16px;